<!DOCTYPE html>
<html>
    <head>
        <title>Login: Chatting Application</title>
    </head>
</html>
<body>
    <div>
        {% for message in messages %}
            <p style="color: orangered;"><strong>{{message}}</strong></p>
        {% endfor %}
        <form action="/register/" method = "POST"> {% csrf_token %}
            <label for="username">Username</label>
            <input name="username" type="text" placeholder="Username" required/><br /><br />
            <label for="email_id">Email ID</label>
            <input name="email_id" type="email" placeholder="Email ID"  required/><br /><br />
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="Password" required/><br /><br />
            <input type="submit" value="Register" />
        </form><br />
        <button><a href="/login/" style="text-decoration: none; color: black">Login</a></button>
    </div>
</body>